{xref_checks,
 [
  undefined_function_calls
 ]}.

{deps,
 [
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
  {datetime, ".*", {git, "https://github.com/lkiesow/erlang-datetime.git"}},
  {rebar_escript_plugin, ".*", {git, "https://github.com/schlagert/rebar_escript_plugin.git"}}
 ]}.

{plugins, [rebar_escript_plugin]}.
